<!-- quark-component -->
    <al-layout params="minSidebarSize: 300">
        <al-layout-navbar params="brand: 'Quark.js'" data-bind="innerHtml: navbarHtml">
        </al-layout-navbar>

        <al-layout-sidebar params="marginTop: 10">
            <al-layout-sidebar-title>
            </al-layout-sidebar-title>
            <al-layout-sidebar-link params="text: 'Introducción',
                                            iconFont: ''">
                <!-- submenu -->
                    <al-layout-sidebar-link params="text: 'Que es Quark.js?',
                                                    iconFont: ''">
                    </al-layout-sidebar-link>
                    <al-layout-sidebar-link params="text: 'Instalando',
                                                    iconFont: ''">
                    </al-layout-sidebar-link>
                    <al-layout-sidebar-link params="text: 'Hola Mundo!',
                                                    iconFont: ''">
                    </al-layout-sidebar-link>
                <!-- /submenu -->
            </al-layout-sidebar-link>
        </al-layout-sidebar>
        <al-layout-container>
            <div data-bind="page: 'main'">
            </div>
        </al-layout-container>
    </al-layout>
<!-- /quark-component -->
