<al-layout-navbar params="brand: 'Quark.js'">
    <!-- left -->
        <al-layout-navbar-link params="text: 'Home',
                                       iconFont: 'fa fa-home'" virtual>
        </al-layout-navbar-link>
        <al-layout-navbar-link params="text: 'Docs',
                                       iconFont: 'fa fa-book'" virtual>
        </al-layout-navbar-link>
    <!-- /left -->
    <!-- right -->
        <al-layout-navbar-link params="text: 'Components Library',
                                       iconFont: 'fa fa-cubes',
                                       routeName: 'main/components/library'" virtual>
        </al-layout-navbar-link>
    <!-- /right -->
</al-layout-navbar>
