<!-- quark-component -->
    <al-layout>
        <al-layout-navbar>
        </al-layout-navbar>
        <al-layout-sidebar>
            <al-layout-sidebar-imagebutton params="routeName: 'main/components/library/module',
                                                   routeParams: { bowerId: 'qk-bootstrap' }">
            </al-layout-sidebar-imagebutton>
            <al-layout-sidebar-link>
                <submenu>
                    <al-layout-sidebar-link>
                    </al-layout-sidebar-link>
                    <al-layout-sidebar-link>
                        <submenu>
                            <al-layout-sidebar-link>
                            </al-layout-sidebar-link>
                            <al-layout-sidebar-link params="routeName: 'main/components/library'">
                                <submenu>
                                    <al-layout-sidebar-link>
                                    </al-layout-sidebar-link>
                                    <al-layout-sidebar-link params="routeName: 'main/components/library'">
                                    </al-layout-sidebar-link>
                                </submenu>
                            </al-layout-sidebar-link>
                        </submenu>
                    </al-layout-sidebar-link>
                </submenu>
            </al-layout-sidebar-link>
            <al-layout-sidebar-search>
            </al-layout-sidebar-search>
        </al-layout-sidebar>
    </al-layout>
<!-- /quark-component -->
