<!-- quark-component -->
    <al-layout params="minSidebarSize: 150">
        
        <al-layout-sidebar params="marginTop: 20">
            <al-layout-sidebar-link params="text: 'Components',
                                            iconFont: 'fa fa-cubes'">
                <!-- submenu -->
                    <al-layout-sidebar-link params="text: 'al-layout',
                                                    iconFont: 'fa fa-cube'">
                    </al-layout-sidebar-link>
                    <al-layout-sidebar-link params="text: 'al-layout-sidebar',
                                                    iconFont: 'fa fa-cube'">
                    </al-layout-sidebar-link>
                <!-- /submenu -->
            </al-layout-sidebar-link>
        </al-layout-sidebar>
        <al-layout-container>
            <div data-bind="page: 'main'">
            </div>
        </al-layout-container>
    </al-layout>
<!-- /quark-component -->
